.header {
    background-color: darkslategrey;
    color: white;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  
    .headersub {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
  
    .header-logo {
      font-size: 24px;
    }
  
    .header-icon {
      height: 70px;
      margin-left: 300px;
    }
  
    /* Navigation menu (flex style above 750px) */
    .header-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      /* Removing list styling for desktop and above */
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none; /* Remove list styling */
      }
      li{
        list-style: none;
      }
  
      .li {
        margin-right: 30px;
        color: white;
        text-decoration: none;
      }
  
      /* Mobile menu - hidden by default */
      @media (max-width: 1250px) {
        display: none;
        position: absolute;
        top: 50px;
        left: -37px;
        width: 100vw;
        background-color: darkslategrey;
        text-align: center;
        padding: 20px 32px;
  
        &.open {
          display: block;
        }
  
        /* Remove list styles for mobile */
        ul {
          padding: 0;
          margin: 0;
          list-style-type: none; /* Remove list styling */
        }
  
        li {
          margin-bottom: 20px;
          padding: 10px;
        }
      }
    }
  
    /* Hamburger icon */
    .hamburger {
      display: none;
      flex-direction: column;
      cursor: pointer;
      padding: 10px;
  
      .bar {
        width: 30px;
        height: 3px;
        margin: 5px;
        background-color: white;
        transition: height 0.6s ease; /* Add transition effect */
      }
  
      /* Show hamburger icon on mobile */
      @media (max-width: 1250px) {
        display: flex;
      }
  
      /* Transition effects for hamburger bars */
      &.open .bar:nth-child(1) {
        transform: rotate(45deg); /* First bar rotates to form part of an 'X' */
        position: relative;
        top: 8px;
      }
  
      &.open .bar:nth-child(2) {
        opacity: 0; /* Hide the middle bar when clicked */
      }
  
      &.open .bar:nth-child(3) {
        transform: rotate(-45deg); /* Third bar rotates to form part of an 'X' */
        position: relative;
        top: -8px;
      }
    }
  }
  