.tcard{
   
   
    .tcard-sub{
        width: 100%;
        margin: auto;
         display: flex;
         flex-flow: wrap;
         

        .tcard-individual{
            width: 300px;
            height: 450px;
            border: 1px solid black;
            margin: 40px 0px 40px 130px;
            background-color: darkslategrey;
            border-radius: 7%;
            box-shadow: darkslategrey 5px 5px, darkslategrey 10px 10px, darkslategrey 15px 15px, darkslategrey 20px 20px, darkslategrey 25px 25px;
            .tcard-image{
                height: 200px;
                width: 300px;
                border-radius: 11%;


            }
            .tcard-details{
               
                color: white;
                padding: 10px;
                h4{
                    font-size: 25px;
                }



                
            }
        }
    }
}