.patient-portal {
    display: flex;
    height: auto;

    .patient-portal-left-menu {
        background: darkslategrey;
        color: white;
        width: 20%;

        .patient-portal-left-menu-list {
            display: flex;
            flex-direction: column;
            margin: 50px;
            list-style: none;

            li {
                margin: 20px 0px 20px 0px;
            }





        }
    }

    .patient-portal-right-menu {
        margin: 50px 35px 20px 35px;
        width: 80%;


        .appointment-details {
.show-appointment-details,
.hide-appointment-details {
  overflow: hidden;
  transition: max-height 1.5s ease, opacity 1.5s ease;
}

.show-appointment-details {
  max-height: 500px;
  opacity: 1;
}

.hide-appointment-details {
  max-height: 0;
  opacity: 0;
}

            .textarea {
                textarea {
                   width: 94.2%;
                    height: auto;
                }

            }

            .appointments {
                width: 90%;
                border: 5px solid black;
                padding: 10px 20px;




                .date {
                    display: flex;
                    justify-content: space-between;
                }


            }

            .appointments:hover {
                background-color: #E9F3FF;
            }

        }


    }
}