.sign-on{
    margin-top: 100px;
    // margin-right: 80px;
    .sub-sign-on{
        display: flex;
        justify-content: center;
        align-items: center;
        .Patient-authentication-form-inputs{   
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
       
            
             
        

              select {
                width: 490px;
                height: 52px;
                border: 2px solid darkslategrey;
                border-radius: 20px;
                padding: 5px 10px;
        
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
              }
        
            
              label {
                width: 100px;
                align-content: center;
              }
        
         
        
              input {
                width: 460px;
                height: 36px;
                border: 2px solid darkslategrey;
                border-radius: 20px;
                padding: 5px 10px;
                margin: 20px;
        
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
              }
              .patient-form-login {
                background: white;
                color: darkslategrey;
                border: 2px solid darkslategrey;
                height: 51px;
                width: 187px;
                border-radius: 10px;
               
                margin: 40px 0px;
              }
          
              .patient-form-login:hover {
                background-color: darkslategrey;
                color: white;
                
              }
}
   
    }
}