.footer{
    background-color: darkslategrey;
    color: white;
    align-content: center;
    font-size: 20px;
    h5{ 
        font-size: 25px;

    }
   
    margin-top: 120px;
    padding-bottom: 43px;
    height: 404px;
    .footer-sub{
        width: 90%;
        margin: auto;
        display:flex;
        justify-content: space-between;
        ul.footer-timings-details{
            margin: 0;
            padding:0;
        li{
            list-style: none;
        
        }
    }
    .footer-second-part {
        width: 62%;
        display: flex;
        .footer-address-details {
            width: 60%;
        }
        .footer-social-details {
            width: 40%;
            img {
                height: 50px;
               
                margin-right: 50px;
            }
        }
    }
}
}